<!doctype html>
<html ng-app="faceit" ng-strict-di>
<head>
    <base href="/"/>
    <meta charset="utf-8"/>
    <meta name="fragment" content="!"/>
    <link rel="preconnect" href="https://api.faceit.com"/>
    <link rel="preconnect" href="https://cdn.faceit.com"/>
    <link rel="manifest" href="/manifest.json"/>
    <title ng-bind="metatags.title"></title>
    <script type="9b4a988d56c65b2bfaf39da6-text/javascript">window.prerenderReady=!1</script>
    <script type="9b4a988d56c65b2bfaf39da6-text/javascript">
        window.faceit={buildVersion:"333-1642673968",appVersion:"89b64d1"}
    </script>
    <script type="9b4a988d56c65b2bfaf39da6-text/javascript">var _sf_startpt=(new Date).getTime()</script>
    <link rel="alternate" ng-repeat="alternate in ::metatags.alternates" ng-attr-href="{{::alternate.baseLanguageUrl}}"
          ng-attr-hreflang="{{::alternate.locale}}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="{{ metatags.description }}"/>
    <meta name="robots" content="{{ metatags.robots }}"/>
    <meta name="keywords" content="{{ metatags.keywords }}"/>
    <meta property="fb:app_id" content="{{ metatags.fb_app_id }}"/>
    <meta property="og:url" content="{{ metatags.fb_url }}"/>
    <meta property="og:title" content="{{ metatags.fb_title }}"/>
    <meta property="og:image" content="{{ metatags.fb_image }}"/>
    <meta property="og:description" content="{{ metatags.fb_description }}"/>
    <meta property="og:site_name" content="{{ metatags.fb_site_name }}"/>
    <meta property="og:type" content="{{ metatags.fb_type }}"/>
    <meta name="twitter:card" content="{{ metatags.twitter_card }}"/>
    <meta name="twitter:site" content="{{ metatags.twitter_site }}"/>
    <meta name="twitter:title" content="{{ metatags.fb_title }}"/>
    <meta name="twitter:description" content="{{ metatags.fb_description }}"/>
    <meta name="twitter:image:src" content="{{ metatags.fb_image }}"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="dns-prefetch" href="https://assets.faceit-cdn.net"/>
    <link rel="dns-prefetch" href="https://cdn-frontend.faceit.com"/>
    <link rel="dns-prefetch" href="https://distribution.faceit-cdn.net"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play:400,700"/>
    <link href="https://cdn-frontend.faceit.com/web/static/css/vendors.a009e98a.chunk.css" rel="stylesheet">
    <link href="https://cdn-frontend.faceit.com/web/static/css/main.7ea63743.chunk.css" rel="stylesheet">
</head>
<body class="{{ bodylayout }}" ng-class="{ 'electron-client': isElectronClient }" window-on-scroll
      event-agent-name="'navbar-fixed'">
<div id="parasite-modal-container"
     style="all:initial;display:none;position:absolute;top:0;left:0;bottom:0;right:0;z-index:100"></div>
<div ui-view="header"></div>
<div class="wrapper" ng-class="{
        '--message-bar-visible': messageBarIsVisible(),
        '-tall': isElectronClient
      }">
    <div id="detached-root" class="detached-root"></div>
    <div id="sidebar" ui-view="sidebar" sidebar="sidebar" class="sidebar full-height" ng-class="{
          open: sidebar.isOpen,
          closed: sidebar.isForceClosed,
          '--message-bar-visible': messageBarIsVisible(),
          '-tall': isElectronClient
        }" ng-if="currentUserStore.currentUser"></div>
    <div id="main-content" class="main-content" sidebar="sidebar"
         ng-class="{ 'main-content--no-margin': sidebar.isForceClosed }">
        <div class="main-content__wrapper" ng-class="{
            '--no-margin':
              !currentUserStore.currentUser || sidebar.isForceClosed
          }">
            <div id="main-container-height-wrapper" class="main-container__flex-height__wrapper">
                <div class="main-container__flex-grow" ng-class="{
                '--central-column':
                  !currentUserStore.currentUser && isCentralColumnState
              }">
                    <system-status-bar status="system" ng-if="currentUserStore.currentUser"></system-status-bar>
                    <notification-bar></notification-bar>
                    <div id="parasite-container" style="all:initial;display:none"></div>
                    <div class="container main-container animated ng-fadeIn animate-enter-only flex-1" role="main"
                         ui-view="main"></div>
                    <parasite-slot-manager ng-if="featureFlagInitialized && !adManagerEnabled"
                                           state="$state.current.name"
                                           is-sidebar-open="!sidebar.isForceClosed"></parasite-slot-manager>
                    <parasite-ad-manager ng-if="featureFlagInitialized && adManagerEnabled" state="$state.current.name"
                                         is-sidebar-open="!sidebar.isForceClosed"></parasite-ad-manager>
                </div>
            </div>
        </div>
    </div>
</div>
<one-trust-cookie-consent></one-trust-cookie-consent>
<fcc-react-floater class="hidden-xs"></fcc-react-floater>
<div class="o-invite" ui-view="invite"></div>
<growl-holder></growl-holder>
<growl-container></growl-container>
<parasite-already-authenticated-modal is-open="alreadyAuthenticated"></parasite-already-authenticated-modal>
<authenticate-prompt></authenticate-prompt>
<activity-tracker-wrapper ng-if="currentUserStore.currentUser"></activity-tracker-wrapper>
<ingame-report-modal ng-if="currentUserStore.currentUser"></ingame-report-modal>
<sms-verification-wrapper ng-if="currentUserStore.currentUser"></sms-verification-wrapper>
<friends-sidebar ng-if="currentUserStore.currentUser" ng-class="{
        '--message-bar-visible': messageBarIsVisible(),
        '-tall': isElectronClient
      }"></friends-sidebar>
<notifications-sidebar></notifications-sidebar>
<modal-manager></modal-manager>
<h-captcha-placeholder></h-captcha-placeholder>
<email-verification-modal ng-if="currentUserStore.currentUser"></email-verification-modal>
<block-modal ng-if="currentUserStore.currentUser"></block-modal>
<report-block-modal ng-if="currentUserStore.currentUser"></report-block-modal>
<script src="https://cdn-frontend.faceit.com/xdomain/fork/6ba4eac455e3ef330fc01d6b962bc5dc4b7d69a2/xdomain.min.js"
        type="9b4a988d56c65b2bfaf39da6-text/javascript"></script>
<script type="9b4a988d56c65b2bfaf39da6-text/javascript">
    xdomain.slaves({"https://api.faceit.com":"/proxy.html","https://analytics.faceitanalytics.com":"/proxy.html"})
</script>
<script type="9b4a988d56c65b2bfaf39da6-text/javascript"
        src="https://cdn-frontend.faceit.com/web/static/js/runtime~main.d0839312.min.js"></script>
<script type="9b4a988d56c65b2bfaf39da6-text/javascript"
        src="https://cdn-frontend.faceit.com/web/static/js/assets.d86dc9c3.chunk.min.js"></script>
<script type="9b4a988d56c65b2bfaf39da6-text/javascript"
        src="https://cdn-frontend.faceit.com/web/static/js/vendors.65307e73.chunk.min.js"></script>
<script type="9b4a988d56c65b2bfaf39da6-text/javascript"
        src="https://cdn-frontend.faceit.com/web/static/js/main.9b54ba6d.chunk.min.js"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="9b4a988d56c65b2bfaf39da6-|49" defer=""></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon='{"rayId":"6d0a0ffb59550d36","token":"8653b7fff1a0421fb026017a9449031b","version":"2021.12.0","si":100}'
        crossorigin="anonymous"></script>
</body>
</html>